{
  "repos": {
    "source": {
      "owner": "YOUR_SOURCE_USER_ORG",
      "repoName": "YOUR_SOURCE_REPO_NAME"
    },
    "dest": {
      "owner": "YOUR_DEST_USER_ORG",
      "repoName": "YOUR_DEST_REPO_NAME"
    }
  },
  "searchLabels": [
    "bug",
    "documentation"
  ],
  "githubToken": "",
  "issueMappingFile": "issuemapping.json"
}
